@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-muted: #F1F1F1;
  --text-primary: #141414;
  --text-secondary: #898989;
  --traffic-heavy: #F5373C;
  --traffic-moderate: #EFA701;
  --traffic-light: #1BA136;
  --button-secondary-bg: rgba(20, 20, 20, 0.06);
  --drag-handle: rgba(137, 137, 137, 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg-muted: var(--bg-muted);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-traffic-heavy: var(--traffic-heavy);
  --color-traffic-moderate: var(--traffic-moderate);
  --color-traffic-light: var(--traffic-light);
  --color-button-secondary-bg: var(--button-secondary-bg);
  --color-drag-handle: var(--drag-handle);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
